---
layout: default
---

<div id="content" class="home">

  <h1>Proceedings of Machine Learning Research</h1>
  <h2>Volume {{ site.volume }}: {{ site.conference }} {{ site.start | date: "%B %-d" }} to {{ site.end | date: "%B %-d, %Y" }}, {{ site.address }}</h2>

  
  <p><strong>Editors:
      {% assign lastone = site.editors | last %}
      {% for person in site.editors %}
      {% include listperson.html %}
      {% endfor %}
  </strong></p>

  <div id="sectionnav">
    <p>Contents:</p>
    <ul>
      {% for section in site.sections %}
      <li><a href="#{{ section.name }}">{{ section.title }}</a></li>
      {% endfor %}
    </ul>

    <label for="search-authors">Filter Authors:</label>
    <input type="search" name="filter-authors" id="search-authors" value />
    <label for="search-titles">Filter Titles:</label>
    <input type="search" name="filter-titles" id="search-titles" value />
  </div>
  {% if site.sections %}
  {% for section in site.sections %}
  <h3 id="{{ section.name }}">{{ section.title }}</h3>
    {% for post in site.posts | sort_by: "firstpage" %}
    {% if section.name == post.section %}
    {% include listpaper.html %}
    {% endif %}
    {% endfor %}
  </dl>
  {% endfor %}
  {% endif %}
  <dl>
  {% for post in site.posts | sort_by: "firstpage" %}
  {% unless post.section %} 
  {% include listpaper.html %}
  {% endunless %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
</div>
<!-- Search Widget -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/search.js"></script>
