<article class="post-content">
  <h1>{{ page.title }}</h1>
  <div id="authors">
    <br>
    {% for author in page.authors %}
    {% if author.url %}
    [{{ author.givenname }} {{ author.surname }}]({{ author.url }}), 
    {% else %}
    {{ author.givenname }} {{ author.surname }}, 
    {% endif %}
    {% endfor %}
  </div>
  <div id="info">
    {{ site.conference }}, pp {{ page.firstpage }}-{{ page.lastpage }}, {{ site.year }}
  </div> <!-- info -->
  
  <h2>Abstract</h2>
  <div id="abstract">
    {{ page.abstract | markdownify }}
  </div>
  <h2>Related Material</h2>
  <div id="extras">
    <ul>
      <li><a href="{{ page.pdf }}">Download PDF</a></li>
      {% for extra in page.extras %}
      <li><a href="{{ extra.link }}">{{ extra.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="content">
    {{ content | markdownify }}
  </div>
</article>
