dist
dist_*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
testdata
_site
_cache
import
site
scrape
update
tmp

.DS_Store
db/**/*.pdf
db/**/*.zip
db/**/*.tgz
received/**/*.pdf
received/**/*.zip
scraped/
db-inactive/
db-scraped/
