.cabal-sandbox
cabal.sandbox.config
dist
dist_*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hdevtools.sock
testdata
_site
_cache
import
site
scrape
update
tmp

.DS_Store
db/**/*.pdf
db/**/*.zip
db/**/*.tgz
received/**/*.pdf
received/**/*.zip
scraped/
db-inactive/
db-scraped/

received/connectomics-2014/index.htm
received/connectomics-2014/logo_brain.jpg
received/connectomics-2014/supplemental/
received/connectomics-2014/vxpermissions/

*~
\#*