<!-- Google Scholar Meta Data -->

<meta name="citation_title" content="$rawtitle$">
$for(authors)$
  <meta name="citation_author" content="$surname$, $firstnames$">
$endfor$
<meta name="citation_publication_date" content="$year$">
<meta name="citation_journal_title" content="$booktitle$">
<meta name="citation_issn" content="ISSN 1533-7928">
<meta name="citation_volume" content="$journalvolume$">
<meta name="citation_issue" content="$journalissue$">
<meta name="citation_firstpage" content="$firstpage$">
<meta name="citation_lastpage" content="$lastpage$">
<meta name="citation_pdf_url" content="$pdf$">
