.authors, #authors { font-weight: bold; font-style: italic; display: inline; }
.info, #info { display: inline; }
#footer { border-top: 1px solid gray; padding-top: 1em; margin-top: 1em; font-size: smaller; }
