<h1>JMLR Workshop and Conference Proceedings</h1>
<h2>Volume $volume$ $maybeRenderAs number (%number%)$: $booktitle$</h2>

<p><strong>Editors: $editor$</strong></p>

<div id='sectionnav'>
	<p>Contents:</p>
	<ul>
		$sectionnav$
	</ul>

	<label for="search-authors">Filter Authors:</label>
    <input type="search" name="filter-authors" id="search-authors" value="" />
	<label for="search-titles">Filter Titles:</label>
    <input type="search" name="filter-titles" id="search-titles" value="" />
</div>

$sections$

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/search.js"></script>
