<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>$title$ | $shortname$ $year$ | PMLR</title>

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/jmlr.css"/>

	<!-- Fixed position navigation -->
	<!--#include virtual="/proceedings/css-scroll.txt"-->

	<!-- MathJax -->
	$partial("templates/mathjax.html")$

	<!-- Metadata -->
	$partial("templates/scholar/paper.html")$
</head>
<body>


<div id="fixed">
	$partial("templates/nav.html")$
</div>

<div id="content">

	<h1>$title$</h1>

	<div id="authors">
	$for(authors)$
		$firstnames$ $surname$$sep$,
	$endfor$
	<br/>
	</div>
	<div id="info">
		$booktitle$ (PMLR vol. $volume$),
		pp. $firstpage$–$lastpage$, $year$
	</div> <!-- info -->

	$if(note)$ 
	<div id="note">$note$</div>
	$endif$

	<h2>Abstract</h2>
	<div id="abstract">
		$abstract$
	</div>

	<h2>Related Material</h2>
	<div id="extras">
		<ul>
			<li><a href="$pdf$">Download PDF</a></li>
			$if(supp-url)$
			<li><a href="$supp-url$">$supp-name$ ($supp-kind$)</a></li>
			$endif$
			$if(discussion)$
			<li><a href="$discussion$">Discussion</a></li>
			$endif$
		</ul>
	</div> <!-- extras -->

</div> <!-- content -->

</body>
</html>
